.believe {

    &__footer {
        background-color: var(--color-beige);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 72px;

    }

    &__logo {
        margin-bottom: 2.2em;
    }

    &__group-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        
    }

    &__list {
        @include resets;
        display: flex;
        flex-wrap: wrap;
        
        max-width: 764px;
        min-height: 100px;
        & li{
            font-size: 15px;
            line-height: 50px;
            display: flex;
            &:nth-child(5){
                margin-left: 50px;
                justify-self: center;
            }
            padding: 0 5px;
            &:not(:last-child){
                margin-right: 50px;
            }
        }
    }

    &__link {}

    &__social {
        display: flex;
        & li:not(:last-child){
            margin-right:20px;
        }
    }

    &__footer-text {
        padding-top: 100px;
        color: #868AA2;
        font-size: 13px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
    }

    &__footer-list {
        display: flex;
        & li:not(:last-child){
            margin-right: 1.19em;
        }
    }

    &__footer-link {
        color: #868AA2;
        font-size: 13px;

    }
}
.logo {
}
.link {
}
