.extraordinary {
    padding-top: 137px;
    padding-bottom: 120px;
    @media (max-width: $mobile) {
        padding-top: 60px;
    }
    &__title {
        text-align: center;
        margin-bottom: 98px;
    }

    &__list-box {}
}
.container {
}
.extraordinary-container {
}
.title {

    &--small {}
}
.list-box {

    &__item {}
}
.subtitle {
}
