.footer {

    &__link {
        min-width: 50px;
        
        &:not(:last-child){
            margin-right: 54px;
        }
        &:nth-child(2){
            margin-left: -30px;
        }
        &:nth-child(4){
            align-self: flex-start;
        }
        &:nth-child(5){
            align-self: flex-start;
        }
        @media (max-width:$mobile){
            &:not(:first-child){
                margin-top: 30px;
            }
        }
    }

    &__img {

    }
}
.footer-container {
    display: flex;
    padding: 48px 72px 30px 72px;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
        flex-wrap: wrap;
        

    }

}
