.header {
    
    &__burger {}

    &__logo {}

    &__list {
        padding-bottom: 20px;
    }

    &__link {}
}
.header-container {
    display: flex;
    padding: 36px 61px;
    width: 100%;
    max-width: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}
.burger {
}
.logo {
}
.list {
    font-size: 15px;
    display: flex;
    &__item {
        &:not(:last-child){
            margin-right: 2em;
        }
    }
}
.link {
}




.hamb {
    &__field {
        
        cursor: pointer;
        &.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(2){
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 12px 0;
    background-color: var(--color-blue);
    transition: 0.2s;
}

