.header {
    background-color: var(--color-white);
    &__burger {}

    &__logo {
        position: relative;
        left: 70px;
        @media (max-width: $mobile){
            left: 0;
            
        }
    }
    &__logo-link{
        @media (max-width: $mobile){
            margin-right: 50px;
        }   
    }

    &__list {
        padding-bottom: 20px;
        @media (max-width: $mobile){
            display: none; 
        }
    }

    &__link {
        @media (max-width: $small){
            margin-right: 20px;
        }
    }
}
.header-container {
    display: flex;
    padding: 18px 61px 18px 67px;
    width: 100%;
    max-width: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    @media (max-width: $small){
        padding: 18px 5px 18px 67px;

    }
    @media (max-width: $mobile){
        
        justify-content: space-between;
    }

}
.burger {
}
.logo {
}

.link {
}




.hamb {
    
    &__field {
        
        cursor: pointer;
        &.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        &.active .bar:nth-child(2){
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}
.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 12px 0;
    background-color: var(--color-blue);
    transition: 0.2s;
}

