<section class="believe__footer">
    <img src="../img/logo.png" alt="" class="logo believe__logo">
    <div class="believe__group-list">
        <ul class="believe__list">
            <li><a href="" class="link believe__link">Our Story</a></li>
            <li><a href="" class="link believe__link">Careers</a></li>
            <li><a href="" class="link believe__link">For Providers</a></li>
            <li><a href="" class="link believe__link">Customer Reviews</a></li>
            <li><a href="" class="link believe__link">FAQs</a></li>
            <li><a href="" class="link believe__link">Blog</a></li>
            <li><a href="" class="link believe__link">Locations</a></li>
            <li><a href="" class="link believe__link">Press</a></li>
            <li><a href="" class="link believe__link">care@alto.com</a></li>
            <li><a href="" class="link believe__link">1 (800) 874-5881</a></li>
        </ul>
        <ul class="believe__social">
            <li><a href=""><img src="../img/inst.png" alt=""></a></li>
            <li><a href=""><img src="../img/facebook.png" alt=""></a></li>
            <li><a href=""><img src="../img/twitter.png" alt=""></a></li>
            <li><a href=""><img src="../img/in.png" alt=""></a></li>
            <li><a href=""><img src="../img/unkwnown.png" alt=""></a></li>
        </ul>
    </div>
    <div class="believe__footer-text">
        <span>©2020 Alto Pharmacy. All rights reserved.</span>
        <ul class="believe__footer-list">
            <li><a href="" class="link believe__footer-link">Privacy Policy</a></li>
            <li><a href="" class="link believe__footer-link">Notice of Privacy Practices</a></li>
            <li><a href="" class="link believe__footer-link">Terms and Conditions</a></li>
        </ul>
    </section>