<section class="brought">
    <div class="container brought-container">
        <h1 class="brought__title title">
            Give yourself access to exceptional care.
        </h1>
        <img src="../img/brought-icon.png" alt="" class="brought__img">
        <p class="subtitle brought__subtitle">Emily's heart medication was going to $487 cost her, even with Medicare.</p>
        <p class="subtitle brought__subtitle brought__subtitle--second">We found her a coupon program that brought it down to $0, and we delivered it to her that night.</p>
    </div>
</section>