<section class="content">
    <div class="container content-container">
        <h1 class="title title--main content__title">
            The neighborhood pharmacy that comes to you.
        </h1>
        <p class="content__subtitle">
            We're your #1 rated pharmacy with free same-day delivery and extraordinary care 
        </p>
        <button class="btn">
            <span class="btn__span">Transfer in second</span>
            <img src="../img/btn__arrow.png" alt="" class="btn__arrow">
        </button>
    </div>
    <img src="../img/content__fon.png" alt="" class="content__fon">
</section>