<article class="extraordinary">
    <div class="container extraordinary-container">
        <h1 class="title started__title">
            The extraordinary care you deserve.
        </h1>
        <ul class="list-box started__list-box">
            <li class="list-box__item">
                <img src="../img/ext__list-box-1.png" alt="">
                <h1 class="title title--small">Low prices</h1>
                <p class="subtitle">
                    We’ve saved our users more than $40 million on their medications.
                </p>
            </li>
            <li class="list-box__item">
                <img src="../img/ext__list-box-2.png" alt="">
                <h1 class="title title--small">Free same-day delivery</h1>
                <p class="subtitle">
                    Before work, in the evening, or right to your office. The same day, and it’s free.
                </p>
            </li>
            <li class="list-box__item">
                <img src="../img/ext__list-box-3.png" alt="">
                <h1 class="title title--small">Chat with a pharmacist</h1>
                <p class="subtitle">
                    Worried about side effects? Something else? Chat with a pharmacist anytime.
                </p>
            </li>
        </ul>
    </div>
</article>