<footer class="footer">
    <div class="footer-container">
        <a href="" class="footer__link"><img src="../img/company-1.png" alt="" class="footer__img"></a><a href=""
            class="footer__link"><img src="../img/company-2.png" alt="" class="footer__img"></a><a href=""
            class="footer__link"><img src="../img/company-3.png" alt="" class="footer__img"></a><a href=""
            class="footer__link"><img src="../img/company-4.png" alt="" class="footer__img"></a><a href=""
            class="footer__link"><img src="../img/company-5.png" alt="" class="footer__img"></a>
    </div>
</footer>