<header class="header">
    <div class="container header-container">
        <nav class="navbar">
            <div class="hamb">
                <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
        </nav>
        <a href=""><img src="../img/logo.png" alt="" class="logo header__logo"></a>
        <ul class="list header__list">
            <li class="list__item"><a href="" class="link header__link">For Providers</a></li>
            <li class="list__item"><a href="" class="link header__link">Sign In</a></li>
        </ul>
    </div>
</header>