<section class="lisa">
    <div class="container lisa-container">
        <div class="lisa__story">
            <img src="../img/lisa.png" alt="" class="lisa__img">
            <button class="lisa__btn btn">
                <span class="btn__span">Watch Lisa's story</span>
                <img src="../img/btn__arrow.png" alt="" class="btn__arrow">
            </button>
        </div>
        <div class="lisa__text">
            <h1 class="lisa__title title title--small">"It's been a life changer for me - how easy it is to use. I'll never go to a pharmacy again."</h1>
            <p class="subtitle lisa__subtitle">-Lisa, Alto customer</p>
        </div>
    </div>
</section>