<section class="review">
    <div class="container review-container">
        <img src="../img/review__img.png" alt="" class="review__img">
        <div class="review__text">
            <h1 class="title review__title">
                "I will never go back to another pharmacy again...Thank you for making our busy family's world much easier"
            </h1>
            <div class="review__stars">
                <img src="../img/star.png" alt=""><img src="../img/star.png" alt=""><img src="../img/star.png" alt=""><img src="../img/star.png" alt=""><img src="../img/halfstar.png" alt="">
            </div>
            <div class="review__reviews">
                <span>Based on 913 reviews</span>
                <img src="../img/btn__arrow.png" alt="">
            </div>
        </div>
    </div>
</section>