<article class="started">
    <div class="container started-container">
        <h1 class="title started__title">
            Getting started is easy
        </h1>
        <ul class="list-box started__list-box">
            <li class="list-box__item">
                <img src="../img/started__list-box-1.png" alt="">
                <h1 class="title title--small">Send in a prescription</h1>
                <p class="subtitle">
                    Transfer your existing prescription or ask your doctor to send a new prescription to Alto.
                </p>
            </li>
            <li class="list-box__item">
                <img src="../img/started__list-box-2.png" alt="">
                <h1 class="title title--small">See your savings</h1>
                <p class="subtitle">
                    We'll search for savings on your medication and show you delivery options. We accept most major insurance plans.
                </p>
            </li>
            <li class="list-box__item">
                <img src="../img/started__list-box-3.png" alt="">
                <h1 class="title title--small">Receive your delivery</h1>
                <p class="subtitle">
                    You pick the day and time and we'll deliver it by hand, for free. No delivery or hidden fees.
                </p>
            </li>
        </ul>
    </div>
</article>