html {
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: white;
  color: var(--color-blue);
  &.noscroll{
    overflow: hidden;
  }
}


img {
  max-width: 100%;
}
ul{
  list-style: none;
  margin: 0;
  
}
a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1152px;
  
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
.btn{
  display: flex;
  padding-left: 30px;
  padding-right: 23px;
  color: var(--color-blue);
  height: 60px;
  border-radius: 14px;
  border: none;
  background-color: var(--color-green);
}
.title {
  color: var(--color-blue);
  letter-spacing: 0.75px;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.title--main{
  letter-spacing: 2.5px;
  font-size: 72px;
}
.title--small{
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.35px;
}
.subtitle{
  color: var(--color-gray);
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.84px;
  font-weight: 400;

}
.subtitle--small{
  font-size: 16px;
}
.link {
  color: var(--color-blue);
  font-size: 15px;
  line-height: 50px;
  font-weight: 400;
}