// если вы хотите использовать sass-переменные - удалите root
// colors
$large: 1200px;
$medium: 992px;
$small: 768px;
$mobile: 576px;
$ultra-mobile: 375px;



:root {
  --color-black: #000;
  --color-white: #ffff;
  --color-blue: #0B4A72;
  --color-green: #E6F2B4;
  --color-gray: rgba(0,0,0,0.7);
  --color-beige: #FEF8F1;
}
